<launch>


<node pkg="rosserial_arduino" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>


<node pkg="trimaran_ros" type="mode" name="mode" />


<include file="$(find plymouth_internship_2019)/Launch/imageProcessing.launch">
        <arg name="horizon" default="True" />
        <arg name="masts" default="True" />
        <arg name="buoy" default="True" />
        <arg name="marker" default="True" />
        <arg name="output" default="False" />
        <arg name="size" default="1" />
    </include>


</launch>
