<launch>
    <param name="mode" type="int" value="1" />


    <node type="rviz" name="rviz" pkg="rviz" />
    <node pkg="trimaran_ros" type="displayBoat" name="displayBoat" />
    <node pkg="trimaran_ros" type="simuBoat" name="simuBoat"/>


    <param name="cap" type="double" value="$(arg cap)" />
    <node pkg="trimaran_ros" type="capFollow" name="capFollow" />



</launch>
