<launch>

<include file="$(find plymouth_internship_2019)/Launch/imageProcessing.launch">
        <arg name="horizon" default="True" />
        <arg name="masts" default="True" />
        <arg name="buoy" default="True" />
        <arg name="marker" default="True" />
        <arg name="output" default="False" />
        <arg name="size" default="1" />
    </include>

<include file="$(find trimaran_ros)/launch/lowlevel.launch" />


<param name="file" type="string" value="$(arg file)" />
<node pkg="trimaran_ros" type="lineFollow" name="lineFollow"/>
<node pkg="trimaran_ros" type="checkPointFollow.py" name="checkPointFollow" />


<node name="record" pkg="rosbag" type="record" args="record -a -o $(find trimaran_ros)/rosbag/checkPointFollow" />


</launch>
