<launch>

<include file="$(find plymouth_internship_2019)/Launch/systemLaunch/imageProcessing.launch">
        <arg name="horizon" default="False" />
        <arg name="masts" default="False" />
        <arg name="buoy" default="False" />
        <arg name="marker" default="False" />
        <arg name="output" default="False" />
        <arg name="size" default="0.6" />
    </include>

<include file="$(find trimaran_ros)/launch/lowlevel.launch" />

<param name="modeBuoy" type="int" value="$(arg mode)" />
<param name="file" type="string" value="$(arg file)" />
<node pkg="trimaran_ros" type="lineFollow" name="lineFollow"/>
<node pkg="trimaran_ros" type="checkPointFollow.py" name="checkPointFollow" />


<node name="record" pkg="rosbag" type="record" args="record -a -o $(find trimaran_ros)/rosbag/checkPointFollow -x '/tag_detections(.*)|/raspicam_node(.*)' " />


</launch>
